.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  
}

label{
  margin-left: 2%;
  font-size: large;
  font-weight: bolder;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

.deco{
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}

.card1 {
  width: 150px;
  box-sizing: border-box;
  border: none;
  padding: 2em;
  font-family: Ubuntu;
  border-radius: 10px;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  float: left;
  margin-right: 1em;
}

.header{
  font-weight: bolder;
}

.card1 {
  background: linear-gradient(150deg, #d9e2dc, #3cbba6 100%);
}

/* Navbar */
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #046168, #054444);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    z-index: 10000;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Search box*/
input 
{
  font-size:large;
  width: 90%;
  margin:1%;
  background: #70a897;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
/*slide */

/*==================
    Base Styles
===================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  display: none;
}

.container1 {
  background: rgb(255, 255, 255);
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 2em;
}

.slide-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 3em;
  width: 40%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
  overflow: hidden;
}

/*==================
  Slides
===================*/

#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* flex */
  display: flex;
}

.slide {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* backgrounds */

.slide-1 {
  background-image: url("https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-2 {
  background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-3 {
  background-image: url("https://images.pexels.com/photos/448714/pexels-photo-448714.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-4 {
  background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

/*===================
  BUTTONS
====================*/

.btn,
.btn::after {
  border-radius: 50%;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.281);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
  position: absolute;
  bottom: 12%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btn:nth-of-type(1) {
  left: 38%;
}

.btn:nth-of-type(2) {
  left: 45%;
}

.btn:nth-of-type(3) {
  left: 52%;
}

.btn:nth-of-type(4) {
  left: 59%;
}

.btn:hover {
  transform: scale(1.4);
}

/* buttons Atom! */

.btn::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  background: rgb(11, 185, 238);
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(.5, .5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

/*====================
      L O G I C 
===================*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
  left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
  left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
  left: -300%;
}

/* button logic */

input[type="radio"]:checked+label.btn {
  transform: scale(1.2);
  border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btn::after {
  transform: scale(1.1, 1.1);
  background: lightskyblue;
}

/*=====================================================================================
              MEDIA QUERIES
=======================================================================================*/

@media only screen and (max-width: 750px) {
  .slide-wrapper {
      width: 90%;
      height: 100%;
  }
  .btn:nth-of-type(1) {
      left: 93%;
      bottom: 60%;
  }
  .btn:nth-of-type(2) {
      left: 93%;
      bottom: 50%;
  }
  .btn:nth-of-type(3) {
      left: 93%;
      bottom: 40%;
  }
  .btn:nth-of-type(4) {
      left: 93%;
      bottom: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .btn:nth-of-type(1) {
      left: 91%;
  }
  .btn:nth-of-type(2) {
      left: 91%;
  }
  .btn:nth-of-type(3) {
      left: 91%;
  }
  .btn:nth-of-type(4) {
      left: 91%;
  }
}
